<footer>
    <div class="f-info">
      <div class="f-info-social">
        <div class="content">
        &#x1F310;English(IN)&nbsp;
        &#8377; INR 
        </div>
        <a href="https://github.com/vk26kumar"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/vk.vishal_jaiswal/"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/vishal-kumar2606/"><i class="fa-brands fa-linkedin"></i></a>
      </div>

      <div class="text">&#169;2025 Travel Roots,Inc.</div><br> 
      <div class="text">For any query Contact | Email: vkvkvk262626@gmail.com</div>  
      <div class="f-info-links">
        <a href="#">Privacy</a>&nbsp;&nbsp;&#183;&nbsp;
        <a href="#">Terms</a>&nbsp;&nbsp;&#183;&nbsp;
        <a href="#">Company details</a>
      </div>

    </div>
</footer>