<% layout("/layouts/boilerplate") %>
<br>
<h2 style="color:red"><i><b>*For  booking, contact the owner from given Information:-</b></i></h2><br>
<h3>
    <ul>
        <li>Phone Number:- <%= listing.phone %></li>
        <li>Email id:- <%= listing.email %></li>
    </ul>
</h3><br>
<h1 style="color: green"><u><b>Thanku you for visiting.</b></u>😊</h1>